bin/
obj/
.vs/
*.user
*.suo
appsettings.*.local.json

node_modules/
dist/
.env.local

*.db
*.db-shm
*.db-wal
*.log

.idea/
*.iml
local.properties
/build/
/captures/
.externalNativeBuild/
.cxx/
**/build/
**/.gradle/

.DS_Store
Thumbs.db
